/* form 
    border: 3px solid #f1f1f1;
  }
  
  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-transform: capitalize;
  }

  input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    border-radius: 5rem;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
    background-color:#f1f1f1"
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  } */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  /* border: 0; */
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;

}

html {
  font-size: 0.85rem;
}

body {
  background-color: white;
  color: black;
  font-family: poppins, sans-serif;
  height: auto;
  font-size: 0.88rem;
}

.header {
  display: flex;
  padding: 2rem 2rem;
  background-color: hsl(0, 10%, 96%);
  height: 6rem;
  font-size: 1.2rem;
  /* position: fixed; */
}

.header:hover {
  cursor: pointer;
}

.bi-list {
  font-size: 2rem;
  margin-right: 2rem;
  margin-left: 1rem;
  background-color: #fcf8f8;
  border-radius: 10rem;
  width: 2rem;
}

.bi-list:hover {
  background-color: #b0abab;
  border-radius: 5rem;
  width: 2rem;
}

.bi-youtube {
  padding-right: 0.5rem;
  font-size: 2rem;
  color: red;
}

.header h3 {
  padding-right: 25rem;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.search input {
  border: 1px solid rgb(233, 232, 232);
  width: 35rem;
  height: 3.3rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  padding-left: 1rem;
  margin-right: -0.2rem;
}

.search i {
  font-size: 1.2rem;
  border: 1px solid rgb(233, 232, 232);
  padding: 0.9rem 2rem 1rem 1rem;
  border-left: none;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  background-color: #faf6f6;

}

.bi-mic-fill {
  font-size: 1.2rem;
  padding: 1rem 2rem 2rem 1rem;
  margin-left: 1rem;
  background-color: #fcf8f8;
  border-radius: 10rem;
  width: 2rem;

}

.bi-mic-fill:hover {
  background-color: #b0abab;
  border-radius: 10rem;

}

.bi-mic-fill:hover::after{
  content: "Effectuer une recherche vocale";
  white-space: nowrap;
  font-size: 1rem;
  background-color: gray;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  color: white;
}

.bi-camera-video {
  font-size: 1.5rem;
  padding: 1rem 2rem 2rem 15rem;
  /* margin-left: 1rem; */
  width: 2rem;
}

.bi-camera-video:hover{
  background-color: #b0abab;
  border-radius: 10rem;
  
}

.bi-camera-video:hover::after{
  content: "créer";
  white-space: nowrap;
  font-size: 1rem;
  background-color: rgb(70, 69, 69);
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  color: white;
}

.bi-bell {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 2rem;
}

.header img {
  width: 3rem;
  height: 3rem;
  border-radius: 25px;
}

.house {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 2rem;

}

.house i {
  padding-right: 1rem;
}

.link {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;

}

.link i {
  padding-right: 1rem;
}

.collection {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;

}

.collection i {
  padding-right: 1rem;
}

hr {
  width: 245px;
  margin: -1rem 0 0 1rem;

}

.play {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 2rem;

}

.play i {
  padding-right: 1rem;
}

.arrow {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;

}

.arrow i {
  padding-right: 1rem;
}

.play-btn {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;

}

.play-btn i {
  padding-right: 1rem;
}

.clock {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;

}

.clock i {
  padding-right: 1rem;
}

.hand {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;

}

.hand i {
  padding-right: 1rem;
}

.abonnement p {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-left: 3rem;
}

.abonnement {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.film1 {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

}

.film1 img {
  width: 2rem;
  height: 2rem;
  border: 1px solid rgb(229, 84, 203);
  border-radius: 5rem;
}

.film1 i {
  color: red;
}

.film2 {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

}

.film2 img {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5rem;
}

.film2 i {
  color: red;
}

.film3 {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

}

.film3 img {
  width: 2rem;
  height: 2rem;
  border: 1px solid none;
  border-radius: 5rem;
}

.film3 i {
  color: red;
}

.select {
  margin-top: 1.5rem;
  padding-bottom: 1rem;

}

.select i {
  padding-right: 1rem;

}

.explorer p {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-left: 4rem;

}

.tendances {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.tendances i {
  padding-right: 1rem;
}

.Music {
  font-size: 1.2rem;
  padding-left: 2rem;

}

.Music i {
  padding-right: 1rem;
}

.Direct {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.Direct i {
  padding-right: 1rem;
}

.Jeux {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.Jeux i {
  padding-right: 1rem;
}

.Actulités {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.Actulités i {
  padding-right: 1rem;
}

.Sport {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.Sport i {
  padding-right: 1rem;
}

.Cultures {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-top: 1rem;

}

.Cultures i {
  padding-right: 1rem;
}

.Mode {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.Mode i {
  padding-right: 1rem;
}

.autres p {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-left: 4rem;

}

.container-our {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;

}

.container-our small {
  margin-top: 1rem;
}

.container-our i {
  padding-right: 1rem;
  color: red;
}

.kids {
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.kids small {
  margin-top: 1rem;
}

.kids i {
  padding-right: 1rem;
  color: red;
}

.param {
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: 1.2rem;
}

.param i {
  padding-right: 1rem;

}

.param1 {
  padding-bottom: 1rem;
}

.param2 {
  padding-bottom: 1rem;
}

.param3 {
  padding-bottom: 1rem;
}

.param4 {
  padding-bottom: 2rem;
}

.parag {
  padding-top: 1rem;
  padding-left: 2rem;
}

.parag strong {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(87, 86, 86);
}

.Google {
  padding-top: 1rem;
}

.Google small {
  font-size: 1rem;
  color: gray;
}


/* @media screen and (max-width: 768px) {
    .container{
      display: block;
      float: none;
      width: 100%;
    }   
} */